
.chordlogo {
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.carrito {
    width: 37px; 
 
}   


.perfil {
    width: 42px;
 
}

.registro{
    width: 40px;
 
}

.salir{
    width: 32px;
}



